#####################################################################
#   Filament Sensor
#####################################################################

[filament_switch_sensor fsensor]
switch_pin: ^!PB4
pause_on_runout: True
runout_gcode:
 M117 Filament Runout Detected
 M600
insert_gcode:
 M117 Filament Load Detected
 LOAD_FILAMENT
event_delay: 2.0
pause_delay: 0.01


#####################################################################
#   MCU/Host Temperatures
#####################################################################

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 80

[temperature_sensor mcu]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#####################################################################
#   PINDA Inductive Probe
#####################################################################

# The SuperPINDA has built-in temperature compensation and no thermistor output,
# so no compensation table is needed here.
[probe]
pin: PA8
x_offset: -23.5
y_offset: 3.5
speed: 6.0
samples: 3
sample_retract_dist: 0.40
samples_tolerance: 0.2
lift_speed: 10
samples_result: average
#########
#z_offset: 1.077  # set this to your Live Z Offset (0.920)
#########

#####################################################################
#   Input Shaper - Resonance compensation
#####################################################################
[input_shaper]
shaper_freq_x: 80
#shaper_type_x: ...
shaper_freq_y: 84
shaper_type: mzv

